@import '_reset';
@import '_frow';

$black: #000000;
$dark: #333132;
$dark-grey: #212121;
$grey: #303030;
$light-grey: #424242;
$white: #FFFFFF;
$red: #FF1744;
$light-blue: #E1F5FE;
$blue: #03A9F4;
$dark-blue: #01579B;
$yellow: #FFF200;
$light-yellow: #FFFF8D;
$dark-yellow: #FFEA00;


$primary-text: 100%;
$secondary-text: 70%;
$hint-text: 50%;

html, body {
    width: 100%;
    padding: 0;
    border: 0;
    height: 100%;
    color: $white;
    font-family: 'Lato', sans-serif;
    background-color: $black;
    line-height: 1.6;
    font-size: 18px;
}
h2 {
    font-size: 30px;
    padding-bottom: 10px;
}
h3 {
    font-size: 25px;
    padding-bottom: 10px;
}
h4 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}
hr {
    width: 100%;
    border: 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.12);
}
a {
    text-decoration: underline;
}
.header {
    position: relative;
    z-index: 5;
    background-color: $dark;
    background-size: cover;
    text-align: center;
    width: 100%;
}
.text, .email {
    font-weight: 100;
    text-align: center;
    width: 100%;
    a {
        color: $white;
    }
}
.email {
    font-size: 25px;
    background-color: $light-grey !important;
    font-weight: 400;
    border-radius: 4px 0 0 4px;
    border: 1px solid transparent;
    height: 2em;
    color: $white;
}
.card-shadow {
    background-color: $dark;
    box-shadow: 0 1px 3px 0 $black;
}
.mailing-list {
    padding-top: 40px;
    .btn {
        border-radius: 0 4px 4px 0;
    }
}
.btn {
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $yellow;
    color: $dark;
    height: 2em;
    -webkit-appearance: none;
}
.btn:hover {
    background-color: $light-yellow;
    color: $dark;
}
@media (max-width: 980px) {
    .email {
        border-radius: 4px 4px 0 0;
    }
    .mailing-list .btn {
        border-radius: 0  0 4px 4px;
    }
}
.pad {
    padding: 40px;
}
em {
    font-style: italic;
}
p {
    padding-bottom: 10px;
}
.frow-container {
    padding-top: 20px;
    background-color: $black;
    position: relative;
    z-index: 3
}
.frow-container {
    width: 100%;
}

/* MD */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* LG */
@media (min-width: 1200px) {
}
@media (min-width: 992px) {
    .logo svg {
        margin: 0 200px;
    }
}

.embed-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.embed-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.event {
    background-color: $light-grey;
    a {
        text-decoration: none;
    }
    a:hover {
        color: $dark;
    }
    img {
        width: 100%;
    }
}
